<% include partials/header.ejs %>
<main>
  <div class="ui container">
    <div class="ui three column grid">
      <div class="row">
        <% stories.forEach(function(story){ %>
          <div class="column">
            <a href="/stories/<%= story._id %>">
              <div class="ui segment">
                <img class="ui image"src="<%= story.image %>" alt="image">
                <div class="contents">
                  <h2><%= story.title %></h2>
                  <p><%- story.body.substring(0, 100)%>...</p>
                  <p>
                    <em>Submitted By <%= story.author.username %> </em>
                  </p>
                  <span><%= story.created.toDateString()%></span>
                </div>
              </div>
            </a>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</main>

<% include partials/footer.ejs %>